<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wedding Invitation</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@300;600&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.polyfills.min.js"></script>

    <style>
        .headroom--top {
            background-color: rgba(255, 255, 255, 0);
            color: white !important;
        }

        .headroom--not-top {
            background-color: rgba(255, 255, 255, 0.8);
            color: black !important;
        }

        .fancy-text {
            font-family: 'Great Vibes', cursive; letter-spacing: 0.1em;
        }

        #sticky-header a {
            transition: color 0.15s;
        }
    </style>
</head>
<body class="font-open-sans text-white m-0 relative">
<!-- Slim Sticky Header Section -->
<header id="sticky-header"
        class="w-full text-black py-1 px-4 fixed top-0 left-0 z-10 shadow-md header-transparent transition-colors duration-300 ease-in-out">
    <div class="flex justify-around items-center my-3">
        <h2 class="fancy-text text-2xl" th:text="${groom_name} + ' & ' + ${bride_name}"></h2>
        <nav class="flex space-x-4 text-2xl">
            <a href="#" class="hover:underline">What?</a>
            <a href="#when"
               class="hover:bg-gray-200 hover:text-black rounded-lg transition-all duration-200 ease-in-out">When?</a>
            <a href="#where"
               class="hover:bg-gray-200 hover:text-black rounded-lg transition-all duration-200 ease-in-out">Where?</a>
            <a href="#confirmation" class="hover:underline">Confirmation</a>
        </nav>
    </div>
</header>

<!-- what Section -->
<section id="what" class="h-screen flex items-center justify-center relative pt-16">
    <!-- Background Image with Dark Overlay -->
    <div class="absolute inset-0 w-full h-full">
        <img th:src="${event_background_img}" alt="Wedding Background" class="w-full h-full object-cover">
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>

    <!-- Content Wrapper -->
    <div class="relative z-10 w-full h-full flex flex-col justify-center items-center text-center">
        <div class="w-full max-w-3xl p-5">
            <h1 class="text-6xl font-lora mb-4" th:text="${groom_name} + ' & ' + ${bride_name}"></h1>
            <p class="fancy-text text-2xl mb-6" th:text="${#dates.format(event_date, 'dd MMMM yyyy')}"></p>
        </div>
    </div>
</section>

<!-- When Section -->
<section id="when" class="h-screen flex flex-col items-center justify-center bg-cover bg-center relative py-20"
         style="background-image: url('https://storage.cloud.google.com/n-vite/templates/bg_wood_brown.jpg');">

    <!-- Dark overlay for better contrast -->
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <!-- Content Wrapper -->
    <div class="relative z-10 text-center text-white px-6">
        <!-- Logo and Title -->
        <div class="mb-4">
            <h2 class="fancy-text text-6xl font-lora font-semibold mb-2"
                th:text="${#dates.format(event_date, 'dd MMMM yyyy')}"></h2>
            <h3 class="text-xl italic" th:text="${event_location}"></h3>
        </div>

        <!-- Countdown Timer -->
        <div class="flex justify-center gap-8 mt-10 text-3xl font-semibold" id="countdown"
             data-event-date="${event_date}">
            <div class="text-center">
                <span class="text-5xl" id="days">0</span>
                <div class="text-base mt-1">Days</div>
            </div>
            <div class="text-center">
                <span class="text-5xl" id="hours">0</span>
                <div class="text-base mt-1">Hours</div>
            </div>
            <div class="text-center">
                <span class="text-5xl" id="minutes">0</span>
                <div class="text-base mt-1">Minutes</div>
            </div>
            <div class="text-center">
                <span class="text-5xl" id="seconds">0</span>
                <div class="text-base mt-1">Seconds</div>
            </div>
        </div>
    </div>
</section>

<!-- Where Section -->
<section id="where" class="min-h-screen flex items-center justify-center bg-cover bg-center py-20"
         th:style="|background-image: url('${event_background_img}');|">
    <div class="w-full max-w-3xl text-center bg-white bg-opacity-70 p-8 rounded-lg">
        <h2 class="text-5xl font-lora mb-8">Where</h2>
        <p class="text-2xl mb-6" th:text="${event_location}"></p>
    </div>
</section>

<!-- Form Section -->
<section id="confirmation" class="min-h-screen flex items-center justify-center bg-cover bg-center py-20"
         style="background-image: url('https://storage.cloud.google.com/n-vite/templates/bg_wood_brown.jpg');">
    <div class="w-full max-w-2xl bg-white bg-opacity-10 p-8 rounded-lg">
        <form th:action="@{'/invitations/' + ${event_reference} + '/responses'}" method="post">
            <div class="mb-6">
                <label for="guest" class="block text-xl text-yellow-300 mb-2">Name:</label>
                <input type="text" id="guest" name="guest" class="w-full p-3 text-black border border-gray-300 rounded"
                       required>
            </div>
            <div class="mb-6">
                <label for="partnerName" class="block text-xl text-yellow-300 mb-2">Partner:</label>
                <input type="text" id="partnerName" name="partnerName"
                       class="w-full p-3 text-black border border-gray-300 rounded">
            </div>
            <div class="flex justify-center gap-10">
                <button type="submit" name="rsvp" value="DECLINED"
                        class="px-10 py-3 bg-gray-600 hover:bg-gray-700 text-white rounded transition">Decline
                </button>
                <button type="submit" name="rsvp" value="ACCEPTED"
                        class="px-10 py-3 bg-blue-600 hover:bg-blue-800 text-white rounded transition">Accept
                </button>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    // Initialize Headroom.js to manage header visibility and style
    const header = document.getElementById('sticky-header');
    const headroom = new Headroom(header, {
        offset: 10,
        tolerance: 5
    });
    headroom.init();

    // Use Smooth Scroll library for smooth scrolling
    const scroll = new SmoothScroll('a[href^="#"]', {
        speed: 800,
        speedAsDuration: true
    });

    document.addEventListener("DOMContentLoaded", function () {
        /*<![CDATA[*/
        const eventDateStr = [[${event_date}]];
        console.log("Event Date:", eventDateStr);

        /*]]>*/

        function updateCountdown() {
            const now = new Date();
            const evtDate = new Date(eventDateStr);

            let timeDifference = evtDate.getTime() - now.getTime();
            if (timeDifference < 0) {
                document.getElementById("days").textContent = "0";
                document.getElementById("hours").textContent = "0";
                document.getElementById("minutes").textContent = "0";
                document.getElementById("seconds").textContent = "0";
                return;
            }

            document.getElementById("days").textContent = "" + Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            document.getElementById("hours").textContent = "" + Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            document.getElementById("minutes").textContent = "" + Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            document.getElementById("seconds").textContent = "" + Math.floor((timeDifference % (1000 * 60)) / 1000);
        }

        // Update countdown every 1 second
        setInterval(updateCountdown, 1000);
    });
</script>

</body>
</html>
